/* Style untuk HBox */
hbox {
    -fx-background-color: #ffffff; /* Warna latar belakang */
}

/* Style untuk AnchorPane */
#anchorPane1, #anchorPane2 {
    -fx-background-color: #E9E8E8; /* Warna latar belakang */
}

/* Style untuk Button */
.button {
    -fx-background-color: #8dbbe0; /* Warna latar belakang */
    -fx-text-fill: white; /* Warna teks */
    -fx-font-size: 12px; /* Ukuran teks */
}

/* Style untuk Label */
.label {
    -fx-font-size: 16px; /* Ukuran teks */
}

/* Style untuk TextField */
.text-field {
    -fx-background-color: #ffffff; /* Warna latar belakang */
    -fx-border-color: #8dbbe0; /* Warna garis pinggir */
    -fx-border-width: 1px; /* Lebar garis pinggir */
}

/* Style untuk TableView */
#tableView {
    -fx-background-color: #ffffff; /* Warna latar belakang */
}

/* Style untuk header kolom */
#idVoucherColumn, #namaColumn, #jenisColumn, #tanggalColumn, #kategoriColumn {
    -fx-background-color: #8dbbe0; /* Warna latar belakang */
    -fx-text-fill: white; /* Warna teks */
    -fx-font-weight: bold; /* Ketebalan teks */
}

/* Style untuk sel yang dipilih */
.table-row-cell:selected {
    -fx-background-color: #8dbbe0; /* Warna latar belakang */
    -fx-text-fill: white; /* Warna teks */
}

/* Style untuk ChoiceBox */
.choice-box {
    -fx-background-color: #ffffff; /* Warna latar belakang */
    -fx-border-color: #8dbbe0; /* Warna garis pinggir */
    -fx-border-width: 1px; /* Lebar garis pinggir */
}
